openapi: 3.0.0
servers:
  - url: https://api.loyverse.com/v1.0
info:
  version: "1.0"
  title: Loyverse API
  x-logo:
    altText: Loyverse logo
  description: >
  
    # Using the REST API
    
    The Loyverse API follows the general patterns of REST. You can use the resources of a Loyverse account (items, receipts, etc.) by making HTTPS requests to URLs that represent those resources. You can find description of all the endpoints here.


    To test and explore Loyverse API you can use Postman. Postman is a powerful HTTP client for testing RESTful APIs by displaying requests and responses in manageable formats.
    

    These are steps you need to take to start testing Loyverse API via Postman:

    1. Download and install Postman. You can get it here: [https://www.getpostman.com](https://www.getpostman.com)


    2. Get [Loyverse API Postman Collection](https://developer.loyverse.com/docs/Loyverse_API.postman_collection.json) and import it into Postman.


    3. Define variables used in postman collection. For example, in Loyverse production environment for Loyverse API v1.0 you should define `baseUrl` variable as `https://api.loyverse.com/v1.0`. It is useful to configure variables in postman environments so you will not have to redefine the values for each request manually. [Learn more about Postman environments](https://learning.postman.com/docs/sending-requests/managing-environments/)


    4. Configure the Postman Authorization header. Each request to Loyverse API should contain a token in request header. You can read more about ways to get the token in the Authorization section of the documentation.


    Once you complete these steps you are ready to make calls to Loyverse API via Postman.


  
  
    # Versioning


    The Loyverse API uses versioning. This documentation is for version 1.0 of the API. Version must be specified in the base URL, for example:
    `https://api.loyverse.com/v1.0`


    # Authorization


    An application credential is any piece of information that identifies,
    authenticates, or authorizes an application in some way.


    Loyverse API provide two authorization methods:

    * Personal access tokens

    * OAuth 2.0

    ## Personal access tokens

    Personal access tokens are a simple way to make calls to the API. This authorization
    method suites best e.g. for periodically running scripts on data of your own account.


    You can get your personal access token on the [corresponding page](https://r.loyverse.com/dashboard/#/integrations/tokens) in the
    back office of your account. For every call to the API you must include your
    access token in the Authorization header:


    ```

    {
      Authorization: Bearer fMYgxHEYtcyT8cvtvgi1Za5DRs4vArSyvydlnd9f
    }

    ```


    Be aware that personal access token gives unlimited access to the targeted
    account.

    ## OAuth 2.0

    The main steps of OAuth flow are:

    1. Creating your app

    2. Requesting a temporary authorization code

    3. Requesting an access token

    4. Making API requests

    5. Refreshing the access token as needed


    ### Creating an application

    To create an app go to the [developer dashboard](http://developer.loyverse.com/apps) and specify all required data for your app.
    After  successfully creating your app you will be given a set of 2 unique keys `client_id` and `client_secret` which are used to identify your app and are required to complete the authorization process.

    ### OAuth Authentication Flow

    The merchant (resource owner) needs to authorize your app to access their data. Guide them to the authorization URL so that they can authorize your app. Authorization URL must be in format:


    ```

    https://api.loyverse.com/oauth/authorize?client_id={client_id}&scope={scope}&response_type=code&redirect_uri={redirect_uri}&state={state}

    ```


    This URL must contain query parameters:

    * client_id: the app id provided when creating your app.

    * response_type: specify ‘code’ that means your app is requesting an authorization code grant.

    * redirect_uri: should be equal to one of the redirect URL list provided when creating your app.

    * scope: the list of permissions to the retailer's account that you app needs (the complete list of permissions see below). The scope values must be separated with the space character, %20.

    * state: a random value provided by your app that is unique for each authorization request. It is used to link requests and callbacks to  prevent cross-site request forgery attacks. During the OAuth callback, your app must check that this value matches the one you provided during authorization.


    **Permissions list:**


    Permission | Description

    ----------|-------------

    CUSTOMERS_READ | Read customer information

    CUSTOMERS_WRITE | Edit customer information

    EMPLOYEES_READ | Read employee information

    ITEMS_READ | Read items, categories, discounts and modifiers

    INVENTORY_READ | Read inventory

    INVENTORY_WRITE | Edit inventory 

    ITEMS_WRITE | Edit items, discounts, categories and modifiers

    MERCHANT_READ | Read merchant information

    PAYMENT_TYPES_READ | Read payment types

    POS_DEVICES_READ | Read POS devices information

    POS_DEVICES_WRITE | Update POS devices information

    RECEIPTS_READ | Read receipts

    RECEIPTS_WRITE | Create receipts

    SHIFTS_READ | Read shifts

    STORES_READ | Read store information

    SUPPLIERS_READ | Read supplier information

    SUPPLIERS_WRITE | Edit supplier information

    TAXES_READ | Read taxes

    TAXES_WRITE | Edit taxes



    Once directed to this link, the merchant will be asked to log in to their Loyverse account (if he is not already logged in). He will then be asked to allow or deny the authentication request. After allowing access, an authorization code will be sent back to your app to the specified redirect URI.


    Once you have the authorization code, your app can now request an access token by sending a request to the following Access Token URL:


    ```

    https://api.loyverse.com/oauth/token
    
    ```


    The payload of your request must be with Content-Type: application/x-www-form-urlencoded and include:
    
    * client_id

    * client_secret

    * redirect_uri

    * code

    * grant_type (specify ‘authorization_code’)


    In case of successful request you will get a response with an access token. 
    Response example:


    ```

    {
      "access_token": "39557133-8881-4ce7-99b5-2ab4d15c2092",
      "token_type": "Bearer",
      "expires_in": 43200,
      "refresh_token": "J3F62YPIQdfJjJia1xJuaHp7NoQYtm9y0WadNBTh",
      "scope": "ITEMS_READ"
    }

    ```


    Once you receive an access token you can use it to interact with the Loyverse API on behalf of the merchant by providing the access token in an Authorization header.


    ### Refreshing access token


    When the access token expires you can obtain a new one by making POST request to `https://api.loyverse.com/oauth/token` with the following parameters:

    
    * client_id

    * client_secret

    * refresh_token

    * grant_type (specify "refresh_token")


    
    ## OpenID Connect 
    
    [OpenID Connect](https://openid.net/connect/) is a simple identity layer on top of the OAuth 2.0 protocol. It allows your app to authorize the user and obtain basic user profile information.


    ID token is a [JSON Web Token (JWT)](https://tools.ietf.org/html/rfc7519) that contains identity information about the user that is digitally signed by Loyverse. To get ID token you need to specify `OPENID` scope in the authorization request along with other scopes that are necessary for your app.


    Response example: 

    ```

    {
      "access_token": "39557133-8881-4ce7-99b5-2ab4d15c2092",
      "id_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiI5ZTY4MjE0Ny1kZDdlLTExZWEtODNiMi05MDJiMzRhNWEwMzkiLCJhdWQiOiI2Nzc5ZWYyMGU3NTgxN2I3OTYwMiIsImNvdW50cnkiOiJqcCIsImlzcyI6Imh0dHBzOi8vYXBpLmxveXZlcnNlLmNvbSIsIm5hbWUiOiJQT1MzIiwiY3JlYXRlZF9hdCI6IjIwMTgtMDYtMDRUMTU6NDQ6MjAuMDIwKzAzOjAwIiwiZXhwIjoxNjAxNDI0MDAwLCJpYXQiOjE1OTg4Njk3MDgsImVtYWlsIjoicG9zQG1haWxpbmF0b3IuY29tIn0.n2wQZtRRU0k2bGxSaz9BY6blf8dAXDAG47UBbAiW9vH8YVnZ1CBcvxkzARAUDjTGuZbGLLUFvzHLT8X5DPulXUt8LhZS2YOpnJccVWrH8RiatwAErwmGGkxJisPwJrFVgQ0qX0O2Wo3NiA_UfY9g3SSveexfOE6g2VWTct8eMdzB0qTyBrtIPtBSVXApdSxF1d5Abl8e2xu2R5LDTdQhb4YxzLejU-sU9ppdYedJBqorhzJBfs6Mi7YyzsCGQ5SrY1ZA7pQNHuO9bUijyj3pHMshlcpvZJzxOfYbEczyUKMsQPdlqdgHGlyaoYJhQuVKPVxVz06dpBBpsdwMfI6Ofw"
      "token_type": "Bearer",
      "expires_in": 43200,
      "refresh_token": "J3F62YPIQdfJjJia1xJuaHp7NoQYtm9y0WadNBTh",
      "scope": "OPENID ITEMS_READ ITEMS_WRITE RECEIPTS_READ"
    }

    ```
 
 
    An ID token consists of three encoded parts separated by dots:
 
    * Header
 
    * Payload
 
    * Signature
 
 
    Header is Base64Url encoded JSON with the following structure:
 
    ```
 
    {
      typ: "JWT",
      alg: "RS256"
    }
 
    ```
 
    * typ: the type of the token
 
    * alg: the hashing algorithm being used, such as HMAC SHA256 or RSA
 
 
    The second part of ID token is a payload that has metadata about the user. Loyverse provides following fields (claims):
 
 
    Claim|Description
 
    ----------|-------------
 
    aud | The audience that this ID token is intended for. It must be the OAuth 2.0 client ID of a developer app.
 
    exp | The time when ID token expires, represented in Unix time (integer seconds).
 
    iat | The time the ID token was issued. Represented in Unix time (integer seconds).
 
    iss | The issuer identifier for the issuer of the response. This is always set to https://api.loyverse.com
 
    sub | An identifier for the user, unique among all Loyverse accounts and never reused. You can use sub within your application as the unique-identifier key for the user.
 
    country | The country code associated with the merchant account (ISO 3166-1-alpha-2 format)
 
    name | The name of business
 
    email | The account email address
 
    created_at | The date and time when the merchant account was created
 
 
    The payload example:

    ```
 
    {
      "sub": "b4d08058-dc81-11ea-90b4-1269e7c5a22d",
      "aud": "rmCfGKJJ22UdUGndankJ",
      "iss": "https://api.loyverse.com",
      "iat": 1353601026,
      "exp": 1353604926,
      "country": "jp",
      "name": "Best Store",
      "created_at": "2020-06-04T15:44:20.020+03:00",
      "email": "jsmith@example.com",
    }
 
    ```
 
    The same info you can get by calling `https://api.loyverse.com/userinfo` endpoint.
 
    The third part of JWT is signature which is used to verify that the sender of the JWT is  Loyverse and used to ensure that the message wasn’t changed along the way.
 
    To verify signature you should use keys that you can get by calling `api.loyverse.com/.well-known/jwks.json` endpoint.
 
    Response example:
 
    ```
 
    {
      "keys":
      [
        {
          "kty":"RSA",
          "n": "0vx7agoebGcQSuuPiLJXZptN9nndrQmbXEps2aiAFbWhM78LhWx
      4cbbfAAtVT86zwu1RK7aPFFxuhDR1L6tSoc_BJECPebWKRXjBZCiFV4n3oknjhMs
      tn64tZ_2W-5JsGY4Hc5n9yBXArwl93lqt7_RN5w6Cf0h4QyQ5v-65YGjQR0_FDW2
      QvzqY368QQMicAtaSqzs8KJZgnYb9c7d0zgdAZHzu6qMQvRL5hajrn1n91CbOpbI
      SD08qNLyrdkt-bFTWhAI4vMQFh6WeZu0fM4lFd2NcRwr3XPksINHaQ-G_xBniIqb
      w0Ls1jF44-csFCur-kEgU8awapJzKnqDKgw",
          "e":"AQAB",
          "alg":"RS256",
          "kid":"2011-04-29"
        }
      ]
    }
 
    ```

 
    ### Discovery document
 
 
    The OpenID Connect protocol requires the use of multiple endpoints for authenticating users, and for requesting resources including tokens, user information, and public keys.
 
    To simplify implementations and increase flexibility, OpenID Connect allows the use of a "Discovery document," a JSON document found at a well-known location containing key-value pairs which provide details about the OpenID Connect provider's configuration, including the URIs of the authorization, token, revocation, userinfo, and public-keys endpoints. The Discovery document for Loyverse OpenID Connect service may be found here:
 
    ```
 
    https://api.loyverse.com/.well-known/openid-configuration
 
    ```
 
    Response example:
 
    ```
 
    {
      "issuer": "https://api.loyverse.com",
      "authorization_endpoint": "https://api.loyverse.com/oauth/authorize",
      "token_endpoint": "https://api.loyverse.com/oauth/token",
      "userinfo_endpoint": "https://api.loyverse.com/userinfo",
      "jwks_uri": "https://api.loyverse.com/.well-known/jwks.json",
      "scopes_supported": [
        "items_read",
        "items_write",
        "customers_read",
        "customers_write",
        "employees_read",
        "inventory_read",
        "inventory_write",
        "pos_devices_read",
        "pos_devices_write",
        "receipts_read",
        "receipts_write",
        "shifts_read",
        "stores_read",
        "payment_types_read",
        "taxes_read",
        "taxes_write",
        "merchant_read",
        "profile_read",
        "suppliers_read",
        "suppliers_write",
        "openid"
      ],
      "response_types_supported": [
        "code"
      ]
    }
 
    ```
 
 





    
    # Pagination 


    Some API endpoints paginate their responses to make the result set easier to
    handle. For example, if you request a list of items that is potentially too
    large to handle efficiently, the endpoint will return the first batch of
    results along with a marker of some kind to access the next batch of
    results. You may be able to avoid dealing with pagination by narrowing your
    initial request. 


    Paginated results include a cursor field as part of the response body. To
    fetch the next set of results, send a followup request to the same endpoint
    and provide the cursor value returned in the previous response as a query
    parameter. When the endpoint sends the final set of results, the response
    body will not include a cursor field.
    
    
    It is possible to change the number of objects returned in the response. It can be done by passing the `limit` parameter. Default value is 50 and maximum is 250.




    # API rate limits


    The Loyverse API platform applies rate limits to the API requests that it
    receives. Every request is subject to throttling under our general limits.
    There are additional resource-based rate limits. Your app should be prepared
    to implement retry behavior if it is throttled.

    The current limit is 300 requests per 300 sec per account. All requests that are made
    after rate limits have been exceeded are throttled and an HTTP `429 Too Many
    Requests` error is returned. 
    
    
    # Date and time format

    All dates and times in the API are in UTC. In requests you should specify dates and times in UTC. When processing responses you should convert dates and times to your local time.


    # Soft deletion


    Loyverse uses soft-deletion for most of its records. In the API, a
    soft-deleted object will have a special status. These records will not be
    returned by default, but can be accessed using `"show_deleted" = "true"` filter  and have `deleted_at` parameter. Notice that some resources (like customers) don't use soft deletion due to personal data restrictions.


    # Handling errors


    The API will return an Error List for a failed request, which will contain
    one or more Error objects.


    ```

    {
      errors: [
        {
          code: "NOT_FOUND",
          details: "The resource was not found",
          field: "category_id"
        }
      ]
    }

    ```

    The Loyverse API uses the following error codes:


    Error code|Description

    ----------|-------------

    500 INTERNAL_SERVER_ERROR | Generic internal server error. Try again later.

    400 BAD_REQUEST | General client error. The request was not understood by
    the server, generally due to bad syntax.

    400 INCORRECT_VALUE_TYPE | The JSON value type for the field is incorrect.
    For example, a string instead of an integer.

    400 MISSING_REQUIRED_PARAMETER | A required path, query, or body parameter
    is missing.

    400 INVALID_VALUE | A parameter's value is incorrect.

    400 INVALID_RANGE | Specified time range is incorrect. For example, the
    end time is before the start time.

    400 INVALID_CURSOR | The pagination cursor is incorrect.

    400 CONFLICTING_PARAMETERS | 1 or more of the request parameters conflict
    with each other.

    401 UNAUTHORIZED | An authentication error. Request had a missing,
    malformed, or invalid authorization data

    402 PAYMENT_REQUIRED | The subscription of account has lapsed

    403 FORBIDDEN | The resource requested is not available with your
    permissions

    404 NOT_FOUND | The resource was not found

    415 UNSUPPORTED_MEDIA_TYPE | The server doesn't accept the submitted
    content-type.

    429 RATE_LIMITED | The request was not accepted because the application has
    exceeded the rate limit.
    

    # Webhooks overview


    Webhooks are the best way to get real-time notifications about different events in Loyverse system. One way to be in sync with Loyverse updates is to periodically pull the particular endpoint, but webhooks give you more effective way to accomplish this task. 


    Supported webhook events:


    Event|Description

    ----------|-------------

    inventory_levels.update |  Webhook is fired when a item’s inventory is updated.

    items.update |  Webhook is fired when an item is created, updated or deleted.

    customers.update |  Webhook is fired when a customer is created, updated or deleted.

    receipts.update |  Webhook is fired when a receipt is created or updated.

    shifts.create |   Webhook is fired when a closed shift is created.


    When an event occurs, Loyverse collects data on the event, creates a notification, and sends it as a POST request to the notification URL registered while configuring  webhook.


    ## Adding webhook

    There are two ways to configure webhooks:

    * **Personal Access Token** — use the [/webhooks endpoint](https://developer.loyverse.com/docs/#tag/Webhooks) or the web interface at https://r.loyverse.com/dashboard/#/webhooks. Webhooks created this way belong to the merchant and are **not signed** — the `X-Loyverse-Signature` header is not included in their notifications.

    * **OAuth2 application** — use the [/webhooks endpoint](https://developer.loyverse.com/docs/#tag/Webhooks) with an OAuth2 access token. Webhooks created this way are owned by the application and **are signed** — every notification includes an `X-Loyverse-Signature` header generated using the application's Client Secret.


    You can subscribe to a single event in one webhook. The combination of event type and url must be unique. The specified URL must be formatted correctly, use the HTTPS, and be reachable.



    ## Webhook payload


    Once you create a webhook, Loyverse will send a HTTP POST request to the URL defined by the webhook every time when event occurs. The POST request contain JSON data with details of the object that caused the hooked event and HTTP headers that provide context.


    Payload example for `inventory_levels.update` event type:

    ```
    
    {
      "merchant_id": "5fk4f446-01d2-8787-4fd5-7b7b1995df85",
      "type": "inventory_levels.update",
      "created_at": "2020-06-07T17:23:48.562Z",
      "inventory_levels": [
        {
          "variant_id": "5fk4f446-01d2-8787-4fd5-7b7b1995df85",
          "store_id": "5fk4f446-01d2-8787-4fd5-7b7b1995df85",
          "in_stock": 0,
          "updated_at": "2019-08-24T14:15:22Z"
        }
      ]
    }


    ```



    You will find additional HTTP headers for a request:


    HTTP header|Description

    ----------|-------------

    X-Loyverse-Signature | A signature used to validate the notification authenticity. **Only present for webhooks created by OAuth2 applications.** (See Validate notifications section for more information)

    X-Loyverse-API-version | Used to confirm what version of the Loyverse API used to serialize the webhook payload (for example "v1.0")



    If there is batch update of objects in the system (for example, caused by items import), Loyverse will send several request with maximum 100 objects in the array.


    ## Testing webhook


    If you create a webhook via web interface, you can quickly test your configuration by sending test notification. Loyverse will send test POST request with the dummy data the specified URL.

    When testing webhooks, you can run your server or use different services such as Beeceptor.



    ## Validate notifications


    This section applies to **webhooks created by OAuth2 applications**. Webhooks created with a Personal Access Token do not include the `X-Loyverse-Signature` header and do not require signature validation.


    Because your webhook endpoint is publicly accessible, anyone on the internet can send requests to it. To confirm that a notification genuinely came from Loyverse and was not tampered with in transit, you must verify the signature attached to every webhook request from an OAuth2-owned webhook.


    **How the signature works**


    Every webhook request from Loyverse includes an `X-Loyverse-Signature` header. Its value is a lowercase hex-encoded HMAC-SHA1 digest computed from the raw request body, using your application's **Client Secret** as the key.


    **How to verify the signature**


    Follow these steps each time your endpoint receives a webhook request:


    1. **Read the raw request body.** Use the exact bytes received — do not parse, decode, or reformat the body before computing the digest.

    2. **Retrieve your Client Secret.** This is the secret associated with your OAuth application in the Loyverse Developer Portal.

    3. **Compute an HMAC-SHA1 digest.** Use your Client Secret (encoded as UTF-8) as the key and the raw request body (encoded as UTF-8) as the message.

    4. **Hex-encode the result.** Convert each byte of the HMAC output to a two-character lowercase hexadecimal string and concatenate them.

    5. **Compare the values.** Check that the hex-encoded digest you just computed matches the value in the `X-Loyverse-Signature` header of the incoming request. Use a constant-time comparison to prevent timing attacks.


    If the values match, the request is authentic. If they do not match, reject the request — do not process its payload.


    ## Request timeout and retries

    When receiving webhook request on your end you must send a 2xx response. Any response outside of the 2xx range, will be considered by Loyverse as a delivery failure. Loyverse does not follow redirects for webhook notifications and considers them to be an error response.
    
    In the case of delivery failure Loyverse will retry sending the request 200 times during 48 hours. If there is no 2XX response within this time range, then the webhook status will be changed to "Disabled". Loyverse will send a warning message to the developer email address.



    

  
  
  
tags:
  - name: Categories
  - name: Customers
  - name: Discounts
  - name: Employees
  - name: Inventory
  - name: Items
  - name: Merchant
  - name: Modifiers
  - name: Payment types
  - name: POS devices
  - name: Receipts
  - name: Shifts
  - name: Stores
  - name: Suppliers
  - name: Taxes
  - name: Webhooks

paths:

  /webhooks/{webhook_id}:
    parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            type: string

    get:
      tags:
        - Webhooks
      summary: Get a single webhook
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
                
    delete:
      tags:
        - Webhooks
      summary: Delete a single resource
      responses:
        '200':
          description: successful operation
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResource"


  /webhooks/:

    get:
      tags:
        - Webhooks
      summary: Get a list of webhooks
      description: This endpoint will only return webhooks created by the application which is making the request.
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'

    post:
      tags:
        - Webhooks
      summary: Create or update a single webhook
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Webhook'
              required:
                - url
                - type
        description: The webhook object

  /merchant/:

    get:
      tags:
        - Merchant
      summary: Get merchant information
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantProfile'

  /suppliers/{supplier_id}:
    parameters:
        - name: supplier_id
          in: path
          required: true
          schema:
            type: string

    get:
      tags:
        - Suppliers
      summary: Get a single supplier
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
                
    delete:
      tags:
        - Suppliers
      summary: Delete a single resource
      responses:
        '200':
          description: successful operation
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResource"

  /suppliers/:
    get:
      tags:
        - Suppliers
      summary: Get a list of suppliers
      description: The list of suppliers is sorted by created_at property in descending order.  The most recent suppliers appear first
      parameters:
        - name: suppliers_ids
          in: query
          description: Return only suppliers specified by a comma-separated list of IDs
          schema:
            type: string
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/show_deleted'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  suppliers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Supplier'

    post:
      tags:
        - Suppliers
      summary: Create or update a single supplier
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Supplier'
              required:
                - name
        description: The category object
                    

  /categories/{category_id}:
    parameters:
        - name: category_id
          in: path
          required: true
          schema:
            type: string

    get:
      tags:
        - Categories
      summary: Get a single category
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
                
    delete:
      tags:
        - Categories
      summary: Delete a single resource
      responses:
        '200':
          description: successful operation
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResource"
  




  # /gift card:
  #   get:
  #     tags:
  #       - Gift card
  #     summary: Get a list of gift cards
  #     description: The list of categories is sorted by created_at property in descending order.  The most recent categories appear first
  #     parameters:
  #       - name: name
  #         in: query
  #         description: Return only categories specified by a comma-separated list of IDs
  #         schema:
  #           type: string
  #       - $ref: '#/components/parameters/limit'
  #       - $ref: '#/components/parameters/cursor'
  #       - $ref: '#/components/parameters/show_deleted'
  #     responses:
  #       '200':
  #         description: successful operation
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 categories:
  #                   type: array
  #                   items:
  #                     $ref: '#/components/schemas/GiftCard'
  #             example:
  #               categories: 
  #                 - id: 7ac0c2ab-219c-492c-a091-a39dd0ac18a2
  #                   name: Clothes
  #                   color: ORANGE
  #                   created_at: 2020-06-01T10:55:48.048Z
  #                   deleted_at: null

  #   post:
  #     tags:
  #       - Gift card
  #     summary: Create or update a single gift card
  #     responses:
  #       '200':
  #         description: successful operation
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/GiftCard'
  #     requestBody:
  #       required: true
  #       content:
  #         application/json:
  #           schema:
  #             allOf:
  #               - $ref: '#/components/schemas/GiftCard'
  #             required:
  #               - name
  #       description: The gift card object

  # /gift_card/{gift_card_id}:
  #   parameters:
  #       - name: customer_id
  #         in: path
  #         required: true
  #         schema:
  #           type: string

  #   get:
  #     tags:
  #       - Customers
  #     summary: Get a single customer
  #     responses:
  #       '200':
  #         description: successful operation
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Customer'

  #   delete:
  #     tags:
  #       - Customers
  #     summary: Delete a single resource
  #     responses:
  #       '200':
  #         description: successful operation
  #         content: 
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/DeleteResource"

  /categories:
    get:
      tags:
        - Categories
      summary: Get a list of categories
      description: The list of categories is sorted by created_at property in descending order.  The most recent categories appear first
      parameters:
        - name: categories_ids
          in: query
          description: Return only categories specified by a comma-separated list of IDs
          schema:
            type: string
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/show_deleted'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
              example:
                categories: 
                  - id: 7ac0c2ab-219c-492c-a091-a39dd0ac18a2
                    name: Clothes
                    color: ORANGE
                    created_at: 2020-06-01T10:55:48.048Z
                    deleted_at: null

    post:
      tags:
        - Categories
      summary: Create or update a single category
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Category'
              required:
                - name
        description: The category object

  /customers/{customer_id}:
    parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string

    get:
      tags:
        - Customers
      summary: Get a single customer
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'

    delete:
      tags:
        - Customers
      summary: Delete a single resource
      responses:
        '200':
          description: successful operation
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResource"
    
  /customers:
    get:
      tags:
        - Customers
      summary: Get a list of customers
      description: The list of customers is sorted by created_at property in descending order.  The most recent customers appear first
      parameters:
        - name: customer_ids
          in: query
          description: Return only customers specified by a comma-separated list of IDs
          schema:
            type: string
        - name: email
          in: query
          description: Filter customers by email
          schema:
            type: string
        - $ref: '#/components/parameters/created_at_min'
        - $ref: '#/components/parameters/created_at_max'
        - $ref: '#/components/parameters/updated_at_min'
        - $ref: '#/components/parameters/updated_at_max'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  customers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
    post:
      tags:
        - Customers
      summary: Create or update a single customer
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
      requestBody:
        required: true
        description: The customer object
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Customer'
              required:
                - name

  '/discounts/{discount_id}':
    parameters:
        - name: discount_id
          in: path
          required: true
          schema:
            type: string
    get:
      tags:
        - Discounts
      summary: Get a single discount
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Discount'
    
    delete:
      tags:
        - Discounts
      summary: Delete a single resource
      responses:
        '200':
          description: successful operation
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResource"


  /discounts:
    get:
      tags:
        - Discounts
      summary: Get a list of discounts
      description: The list of discounts is sorted by created_at property in descending order.  The most recent discounts appear first
      parameters:
        - name: discount_ids
          in: query
          description: Return only discounts specified by a comma-separated list of IDs
          schema:
            type: string
        - $ref: '#/components/parameters/created_at_min'
        - $ref: '#/components/parameters/created_at_max'
        - $ref: '#/components/parameters/updated_at_min'
        - $ref: '#/components/parameters/updated_at_max'
        - $ref: '#/components/parameters/show_deleted'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  discounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Discount'

    post:
      tags:
        - Discounts
      summary: Create or update a single discount
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Discount'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Discount'
              required:
                - name
                - type
        description: The category object
        required: true


  /employees/{employee_id}:
    parameters:
        - name: employee_id
          in: path
          required: true
          schema:
            type: string
    get:
      tags:
        - Employees
      summary: Get a single employee      
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'

    
  /employees:
    get:
      tags:
        - Employees
      summary: Get a list of employees
      description: The list of employees is sorted by created_at property in descending order.  The most recent employees appear first
      parameters:
        - name: employee_ids
          in: query
          description: Return only employees specified by a comma-separated list of IDs
          schema:
            type: string
        - $ref: '#/components/parameters/created_at_min'
        - $ref: '#/components/parameters/created_at_max'
        - $ref: '#/components/parameters/updated_at_min'
        - $ref: '#/components/parameters/updated_at_max'
        - $ref: '#/components/parameters/show_deleted'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  employees:
                    type: array
                    items:
                      $ref: '#/components/schemas/Employee'
                  cursor:
                    type: string


  /inventory:
    get:
      tags:
        - Inventory
      summary: Inventory levels for item variants
      parameters:
        - name: store_ids
          in: query
          description: Show inventory levels only for specified stores
          schema:
            type: string
        - name: variant_ids
          in: query
          description: Show inventory levels only for specified variants
          schema:
            type: string
        - name: updated_at_min
          in: query
          description: Show inventory levels updated at or after specified date
          schema:
            type: string
            format: date-time
        - name: updated_at_max
          in: query
          description: Show inventory levels updated at or before specified date
          schema:
            type: string
            format: date-time
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETInventory_levels'

    post:
      tags:
        - Inventory
      summary: Batch update inventory levels for item variants
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTInventoryChanges'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  inventory_levels:
                    type: array
                    items:
                      $ref: '#/components/schemas/GETInventory_level'
      


  /items/{item_id}:
    parameters:
        - name: item_id
          in: path
          required: true
          schema:
            type: string

    get:
      tags:
        - Items
      summary: Get a single item
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETItem'

    delete:
      tags:
        - Items
      summary: Delete a single resource
      responses:
        '200':
          description: successful operation
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResource"

  /items/{item_id}/image:
    parameters:
        - name: item_id
          in: path
          required: true
          schema:
            type: string
    
    post:
      tags:
        - Items
      summary: Upload a single image
      description: >-
        You can download image directly using image/png requests with image data. The following is an example of such an HTTP request:

        ```

        POST /v1.0/{item_id}/image

        Content-Type: image/png

        Content-Length: 1000


        [file content goes there]

        ```

      requestBody:
        content:
          image/png:
            schema:
              type: string
              format: binary
      responses:
        '201':
          description: successful operation

    delete:
      tags:
        - Items
      summary: Delete a single image
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object




  /items:
    get:
      summary: Get a list of items
      description: The list of items is sorted by created_at property in descending order.  The most recent items appear first
      tags:
        - Items
      parameters:
        - name: items_ids
          in: query
          description: Return only items specified by a comma-separated list of IDs
          schema:
            type: string
        - $ref: '#/components/parameters/created_at_min'
        - $ref: '#/components/parameters/created_at_max'
        - $ref: '#/components/parameters/updated_at_min'
        - $ref: '#/components/parameters/updated_at_max'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/show_deleted'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/GETItem'
                  cursor:
                    type: string


    post:
      tags:
        - Items
      summary: Create or update a single item
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETItem'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTItem'
        description: The item object
        required: true


    


  /modifiers/{modifier_id}:
    parameters:
        - name: modifier_id
          in: path
          required: true
          schema:
            type: string
    get:
      tags:
        - Modifiers
      summary: Get a single modifier
      
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Modifier'

    delete:
      tags:
        - Modifiers
      summary: Delete a single resource
      responses:
        '200':
          description: successful operation
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResource"

  /modifiers:
    get:
      tags:
        - Modifiers
      summary: Get a list of modifiers
      description: The list of modifiers is sorted by created_at property in descending order.  The most recent modifiers appear first
      parameters:
        - name: modifier_ids
          in: query
          description: Return only modifiers specified by a comma-separated list of IDs
          schema:
            type: string
        - $ref: '#/components/parameters/created_at_min'
        - $ref: '#/components/parameters/created_at_max'
        - $ref: '#/components/parameters/updated_at_min'
        - $ref: '#/components/parameters/updated_at_max'
        - $ref: '#/components/parameters/show_deleted'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  modifiers:
                    type: array
                    items: 
                      $ref: '#/components/schemas/Modifier'

    post:
      tags:
        - Modifiers
      summary: Create or update a single modifier
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Modifier'
      requestBody:
        required: true
        description: The modifier object
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Modifier'
              required:
                - name
                - modifier_options



  /payment_types/{payment_type_id}:
    parameters:
        - name: payment_type_id
          in: path
          required: true
          schema:
            type: string

    get:
      tags:
        - Payment types
      summary: Get a single payment type
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentType'

  /payment_types:
    get:
      tags:
        - Payment types
      summary: Get a list of payment types
      description: The list of payment types is sorted by created_at property in descending order.  The most recent payment types appear first
      parameters:
        - name: payment_type_ids
          in: query
          description: Return only payment types specified by a comma-separated list of IDs
          schema:
            type: string
        - $ref: '#/components/parameters/created_at_min'
        - $ref: '#/components/parameters/created_at_max'
        - $ref: '#/components/parameters/updated_at_min'
        - $ref: '#/components/parameters/updated_at_max'
        - $ref: '#/components/parameters/show_deleted'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  payment_types:
                    type: array
                    items:
                      $ref: '#/components/schemas/PaymentType'

  /pos_devices/{pos_device_id}:
    parameters:
        - name: pos_device_id
          in: path
          required: true
          schema:
            type: string
    get:
      tags:
        - POS devices
      summary: Get a single pos device
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pos_device'

    delete:
      tags:
        - POS devices
      summary: Delete a single resource
      responses:
        '200':
          description: successful operation
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResource"

  /pos_devices:
    get:
      tags:
        - POS devices
      summary: Get a list of pos devices
      description: The list of pos devices is sorted by created_at property in descending order.  The most recent pos devices appear first
      parameters:
        - name: store_id
          in: query
          description: Show pos devices only for specified store
          schema:
            type: string
        - $ref: '#/components/parameters/show_deleted'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  pos_devices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pos_device'

    post:
      tags:
        - POS devices
      summary: Create or update a single pos device
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pos_device'
      requestBody:
        required: true
        description: The pos device object
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Pos_device'
              required:
                - name
                - store_id


  /receipts/{receipt_number}:
    get:
      tags:
        - Receipts
      summary: Get a single receipt
      parameters:
        - name: receipt_number
          in: path
          description: The unique number of the receipt
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receipt'
              examples:
                Example_1:
                  value:
                    receipt_number: 2-1008
                    note: 
                    receipt_type: SALE
                    refund_for: 
                    order: O-1598498
                    created_at: '2020-06-23T08:35:47.047Z'
                    updated_at: '2020-06-23T08:35:47.047Z'
                    source: My app
                    receipt_date: '2020-06-23T08:34:45.025Z'
                    cancelled_at: 
                    total_money: 17.52
                    total_tax: 0.92
                    points_earned: 1.75
                    points_deducted: 0.00
                    points_balance: 332.32
                    customer_id: c71758a2-79bf-11ea-bde9-1269e7c5a22d
                    total_discount: 7.40
                    employee_id: 58f53835-7a17-11ea-bde9-1269e7c5a22d
                    store_id: 42dc2cec-6f40-11ea-bde9-1269e7c5a22d
                    pos_device_id: 1cce2f2e-8033-4b67-ad2a-b9d1c749ec26
                    dining_option: Dine in
                    total_discounts:
                    - id: 82185d34-97a9-4137-8e1b-e0d1f07a7cd7
                      type: FIXED_PERCENT
                      name: Percent discount
                      percentage: 10
                      money_amount: 2.40
                    - id: 77d2bf40-7b12-11ea-bc55-0242ac130003
                      type: DISCOUNT_BY_POINTS
                      name: Discount by points
                      money_amount: 5
                    total_taxes:
                    - id: a94d8606-7268-11ea-bde9-1269e7c5a22d
                      type: ADDED
                      name: Added
                      rate: 5.545
                      money_amount: 0.92
                    tip: 0.00
                    surcharge: 0.00
                    line_items:
                    - id: 365972a1-7268-11ea-bde9-1269e7c5a22d
                      item_id: d5fe0da6-44b3-4633-9915-e9dc5118cbfc
                      variant_id: 706e2626-3329-45f8-98d7-0e1dbcbcb9d9
                      item_name: Ice cream
                      variant_name: 
                      sku: '10010'
                      quantity: 2
                      price: 10.00
                      gross_total_money: 24.00
                      total_money: 17.52
                      cost: 5.00
                      cost_total: 10.00
                      line_note: Note for the item
                      line_taxes:
                      - money_amount: 0.92
                        id: a94d8606-7268-11ea-bde9-1269e7c5a22d
                        type: ADDED
                        name: Added
                        rate: 5.545
                      total_discount: 7.40
                      line_discounts:
                      - id: 82185d34-97a9-4137-8e1b-e0d1f07a7cd7
                        type: FIXED_PERCENT
                        name: Percent discount
                        money_amount: 2.40
                      - id: 77d2bf40-7b12-11ea-bc55-0242ac130003
                        type: DISCOUNT_BY_POINTS
                        name: Discount by points
                        money_amount: 5.00
                      line_modifiers:
                      - id: 832a8516-71bf-4515-b742-e868898a1aba
                        modifier_option_id: 89e741df-4767-41b1-ad40-d9245c01a51d
                        name: Toppings
                        option: Cherry
                        price: 2.00
                        money_amount: 4.00
                    payments:
                    - payment_type_id: 42dd2a55-6f40-11ea-bde9-1269e7c5a22d
                      name: Cash
                      type: CASH
                      money_amount: 5.84
                      paid_at: '2020-06-23T08:35:47.047Z'
                      payment_details: 
                    - payment_type_id: 77d2bf40-7b12-11ea-bc55-0242ac130003
                      name: Cash rounding
                      type: CASHROUNDING
                      money_amount: 0.04
                      paid_at: '2020-03-10T08:23:20.020Z'
                      payment_details: 
                    - payment_type_id: 42dd2d07-6f40-11ea-bde9-1269e7c5a22d
                      name: Card
                      type: NONINTEGRATEDCARD
                      money_amount: 5.84
                      paid_at: '2020-06-23T08:35:47.047Z'
                      payment_details: 
                    - payment_type_id: 49d306bc-4454-48c1-9a92-c878290af83e
                      name: Worldpay
                      type: WORLDPAY
                      money_amount: 5.84
                      paid_at: '2020-06-23T08:35:47.047Z'
                      payment_details: 
                        authorization_code: 5215651D
                        reference_id: 15657563452342
                        entry_method: EMV
                        card_company: VISA
                        card_number: "•••• •••• •••• 4242"
          
          
  /receipts:
    get:
      tags:
        - Receipts
      summary: Get a list of receipts
      description: The list of receipts is sorted by created_at property in descending order.  The most recent receipts appear first
      parameters:
        - name: receipt_numbers
          in: query
          description: >-
            Return only receipts specified by a comma-separated list of receipt
            numbers
          schema:
            type: string
        - name: since_receipt_number
          in: query
          description: Show receipts since date which is equal to created_at date of the receipt with specified number
          schema:
            type: string
        - name: before_receipt_number
          in: query
          description: Show receipts up to date which is equal to created_at date of the receipt with specified number
          schema:
            type: string
        - name: store_id
          in: query
          description: Show receipts only for specified store
          schema:
            type: string
        - name: order
          in: query
          description: Filter receipts by order
          schema:
            type: string
        - name: source
          in: query
          description: The name of the the source this receipt comes from
          schema:
            type: string
        - name: updated_at_min
          in: query
          description: >-
            Show receipts updated after date (ISO 8601 format, e.g: 2020-03-30T18:30:00.000Z)
          schema:
            type: string
            format: date-time
        - name: updated_at_max
          in: query
          description: >-
            Show receipts updated after date (ISO 8601 format, e.g: 2020-03-30T18:30:00.000Z)
          schema:
            type: string
            format: date-time
        - $ref: '#/components/parameters/created_at_min'
        - $ref: '#/components/parameters/created_at_max'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  receipts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Receipt'
                  cursor:
                    type: string
                    format: UUID
              examples:
                Example_1:
                  value:
                    receipts:
                    - receipt_number: 2-1008
                      note: 
                      receipt_type: SALE
                      refund_for: 
                      order: 
                      created_at: '2020-06-23T08:35:47.047Z'
                      receipt_date: '2020-06-23T08:35:47.047Z'
                      updated_at: '2020-06-23T08:35:47.047Z'
                      cancelled_at: 
                      source: My app
                      total_money: 17.52
                      total_tax: 0.92
                      points_earned: 1.75
                      points_deducted: 0.00
                      points_balance: 332.32
                      customer_id: c71758a2-79bf-11ea-bde9-1269e7c5a22d
                      total_discount: 7.40
                      employee_id: 58f53835-7a17-11ea-bde9-1269e7c5a22d
                      store_id: 42dc2cec-6f40-11ea-bde9-1269e7c5a22d
                      pos_device_id: 1cce2f2e-8033-4b67-ad2a-b9d1c749ec26
                      dining_option: Dine in
                      total_discounts:
                      - id: 82185d34-97a9-4137-8e1b-e0d1f07a7cd7
                        type: FIXED_PERCENT
                        name: Percent discount
                        percentage: 10
                        money_amount: 2.40
                      - id: 77d2bf40-7b12-11ea-bc55-0242ac130003
                        type: DISCOUNT_BY_POINTS
                        name: Discount by points
                        money_amount: 5.00
                      total_taxes:
                      - id: a94d8606-7268-11ea-bde9-1269e7c5a22d
                        type: ADDED
                        name: Added
                        rate: 5.545
                        money_amount: 0.92
                      tip: 0.00
                      surcharge: 0.00
                      line_items:
                      - id: a94d8606-7268-11ea-bde9-1269e7c5a22d
                        item_id: d5fe0da6-44b3-4633-9915-e9dc5118cbfc
                        variant_id: 706e2626-3329-45f8-98d7-0e1dbcbcb9d9
                        item_name: Ice cream
                        variant_name: 
                        sku: '10010'
                        quantity: 2
                        price: 10.00
                        gross_total_money: 24.00
                        total_money: 17.52
                        cost: 5.00
                        cost_total: 10.00
                        line_note: Note for the item
                        line_taxes:
                        - money_amount: 0.92
                          id: a94d8606-7268-11ea-bde9-1269e7c5a22d
                          type: ADDED
                          name: Added
                          rate: 5.545
                        total_discount: 7.40
                        line_discounts:
                        - id: 82185d34-97a9-4137-8e1b-e0d1f07a7cd7
                          type: FIXED_PERCENT
                          name: Percent discount
                          percentage: 10
                          money_amount: 2.40
                        - id: 77d2bf40-7b12-11ea-bc55-0242ac130003
                          type: DISCOUNT_BY_POINTS
                          name: Discount by points
                          money_amount: 5.00
                        line_modifiers:
                        - id: 832a8516-71bf-4515-b742-e868898a1aba
                          modifier_option_id: 89e741df-4767-41b1-ad40-d9245c01a51d
                          name: Toppings
                          option: Cherry
                          price: 2.00
                          money_amount: 4.00
                      payments:
                      - payment_type_id: 42dd2a55-6f40-11ea-bde9-1269e7c5a22d
                        name: Cash
                        type: CASH
                        money_amount: 5.84
                        paid_at: '2020-06-23T08:35:47.047Z'
                        payment_details: 
                      - payment_type_id: 77d2bf40-7b12-11ea-bc55-0242ac130003
                        name: Cash rounding
                        type: CASHROUNDING
                        money_amount: 0.04
                        paid_at: '2020-03-10T08:23:20.020Z'
                        payment_details: 
                      - payment_type_id: 42dd2d07-6f40-11ea-bde9-1269e7c5a22d
                        name: Card
                        type: NONINTEGRATEDCARD
                        money_amount: 5.84
                        paid_at: '2020-06-23T08:35:47.047Z'
                        payment_details: 
                      - payment_type_id: 49d306bc-4454-48c1-9a92-c878290af83e
                        name: Worldpay
                        type: WORLDPAY
                        money_amount: 5.84
                        paid_at: '2020-06-23T08:35:47.047Z'
                        payment_details: 
                          authorization_code: 5215651D
                          reference_id: 15657563452342
                          entry_method: EMV
                          card_company: VISA
                          card_number: "•••• •••• •••• 4242"


    post:
      tags:
        - Receipts
      summary: Create a sales receipt
      requestBody:
        required: true
        description: The receipt object
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PostReceipt'
              required:
                - store_id
            examples:
              Example_1:
                value:
                  store_id: 42dc2cec-6f40-11ea-bde9-1269e7c5a22d
                  order: ORDER-103885
                  customer_id: c71758a2-79bf-11ea-bde9-1269e7c5a22d
                  source: My app
                  receipt_date: '2020-06-23T08:35:47.047Z'
                  total_discounts:
                    - id: 50f4e245-d221-448d-943a-7346c21cd82b
                      percentage: 15
                      scope: LINE_ITEM
                    - id: 23a64c4f-c6e5-43cc-a017-b11a6ee32448
                      scope: RECEIPT
                    - id: 77d2bf40-7b12-11ea-bc55-0242ac130003
                      money_amount: 5.00
                      scope: RECEIPT
                  line_items:
                    - variant_id: 06929667-cc44-4bbb-b226-6758285d7033
                      quantity: 2
                    - variant_id: 706e2626-3329-45f8-98d7-0e1dbcbcb9d9
                      quantity: 1
                      price: 100.00
                      cost: 50.00
                      line_note: Some line note
                      line_discounts:
                        - id: 50f4e245-d221-448d-943a-7346c21cd82b
                      line_taxes:
                        - id: a94d8606-7268-11ea-bde9-1269e7c5a22d
                        - id: 365972a1-d5f9-449d-bc61-4328cf0e62cb
                      line_modifiers:
                        - modifier_option_id: 0a7cdf41-c75b-11ea-f4ff-abc85f017314
                          price: 2
                  note: Some note for the receipt
                  payments:
                  - payment_type_id: 42dd2a55-6f40-11ea-bde9-1269e7c5a22d
                    paid_at: '2020-06-10T19:16:46Z'

      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receipt'
              examples:
                Example_1:
                  value:
                    receipt_number: 2-1009
                    note:
                    receipt_type: SALE
                    refund_for:
                    order: ORDER-103885
                    created_at: '2020-06-26T12:19:44.044Z'
                    updated_at: '2020-06-26T12:19:44.044Z'
                    source: My app
                    receipt_date: '2020-06-26T12:19:43.025Z'
                    cancelled_at: 
                    total_money: 168.76
                    total_tax: 12.06
                    points_earned: 16.88
                    points_deducted: 0.00
                    points_balance: 344.20
                    total_discount: 45.30
                    store_id: 42dc2cec-6f40-11ea-bde9-1269e7c5a22d
                    employee_id: null
                    pos_device_id: null
                    customer_id: c71758a2-79bf-11ea-bde9-1269e7c5a22d
                    dining_option:
                    total_discounts:
                    - id: 50f4e245-d221-448d-943a-7346c21cd82b
                      type: VARIABLE_PERCENT
                      name: Variable discount
                      percentage: 15
                      money_amount: 30.30
                    - id: 23a64c4f-c6e5-43cc-a017-b11a6ee32448
                      type: FIXED_AMOUNT
                      name: Fixed amount discount
                      money_amount: 10.00
                    - id: 77d2bf40-7b12-11ea-bc55-0242ac130003
                      type: DISCOUNT_BY_POINTS
                      name: Discount by points
                      money_amount: 5.00
                    total_taxes:
                    - id: a94d8606-7268-11ea-bde9-1269e7c5a22d
                      type: ADDED
                      name: Tax 1
                      rate: 10.123
                      money_amount: 8.01
                    - id: 365972a1-d5f9-449d-bc61-4328cf0e62cb
                      type: ADDED
                      name: Tax 2
                      rate: 5.12
                      money_amount: 4.05
                    tip: 0.00
                    surcharge: 0.00
                    line_items:
                    - id: a94d8606-7268-11ea-bde9-1269e7c5a22d
                      item_id: 2ca3341b-0a7b-4375-990a-30d402e55a7e
                      variant_id: 06929667-cc44-4bbb-b226-6758285d7033
                      item_name: Coffee
                      variant_name: 
                      sku: '21213'
                      quantity: 2
                      price: 50.00
                      gross_total_money: 100.00
                      total_money: 77.57
                      cost: 25.00
                      cost_total: 50.00
                      line_note: 
                      line_taxes: []
                      total_discount: 22.43
                      line_discounts:
                      - id: 50f4e245-d221-448d-943a-7346c21cd82b
                        type: VARIABLE_PERCENT
                        name: Variable discount
                        money_amount: 15
                      - id: 23a64c4f-c6e5-43cc-a017-b11a6ee32448
                        type: FIXED_AMOUNT
                        name: Fixed amount discount
                        money_amount: 4.95
                      - id: 77d2bf40-7b12-11ea-bc55-0242ac130003
                        type: DISCOUNT_BY_POINTS
                        name: Discount by points
                        money_amount: 2.48
                      line_modifiers: []
                    - id: 365972a1-7268-11ea-bde9-1269e7c5a22d
                      item_id: d5fe0da6-44b3-4633-9915-e9dc5118cbfc
                      variant_id: 706e2626-3329-45f8-98d7-0e1dbcbcb9d9
                      item_name: Ice cream
                      variant_name: Big
                      sku: '10010'
                      quantity: 1
                      price: 100.00
                      gross_total_money: 102.00
                      total_money: 91.19
                      cost: 5.00
                      cost_total: 5.00
                      line_note: Some line note
                      line_taxes:
                      - money_amount: 8.01
                        id: a94d8606-7268-11ea-bde9-1269e7c5a22d
                        type: ADDED
                        name: Tax 1
                        rate: 10.123
                      - money_amount: 4.05
                        id: 365972a1-d5f9-449d-bc61-4328cf0e62cb
                        type: ADDED
                        name: Tax 2
                        rate: 5.12
                      total_discount: 22.87
                      line_discounts:
                      - id: 50f4e245-d221-448d-943a-7346c21cd82b
                        type: VARIABLE_PERCENT
                        name: Variable discount
                        value: 15
                        money_amount: 15.30
                      - id: 23a64c4f-c6e5-43cc-a017-b11a6ee32448
                        type: FIXED_AMOUNT
                        name: Fixed amount discount
                        value: 10.00
                        money_amount: 5.05
                      - id: 77d2bf40-7b12-11ea-bc55-0242ac130003
                        type: DISCOUNT_BY_POINTS
                        name: Discount by points
                        value: 
                        money_amount: 2.52
                      line_modifiers:
                      - id: 832a8516-71bf-4515-b742-e868898a1aba
                        modifier_option_id: 89e741df-4767-41b1-ad40-d9245c01a51d
                        name: Toppings
                        option: Cherry
                        price: 2.00
                        money_amount: 2.00
                    payments:
                    - payment_type_id: 42dd2a55-6f40-11ea-bde9-1269e7c5a22d
                      name: Cash
                      type: CASH
                      money_amount: 168.76
                      paid_at: '2020-06-26T12:19:44.044Z'
                      payment_details: 


  /receipts/{receipt_number}/refund:
    post:
      description: >
        When using the refund API you should take into account these notes:

        * At the moment refund API allows creating a refund only for sales receipts which are paid by a single payment. For any attempt to make a refund for a sales receipt that has more than one payment Loyverse API will respond with an error.

        * Refund API doesn't support a refund of receipts paid by integrated payments using Loyverse POS app (e.g. iZettle, Sumup, etc.). For this purpose please use Loyverse POS app.

        * If a refund is created successfully, it will cause a restock of items specified in a refund receipt.

      tags:
        - Receipts
      summary: Create a refund receipt
      parameters:
        - name: receipt_number
          in: query
          description: The sales receipt number for a refund
          schema:
            type: string
      requestBody:
        description: The refund object
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/RefundReceipt'
            examples:
              Example_1:
                value:
                  source: My app
                  receipt_date: '2020-06-23T08:35:47.047Z'
                  store_id: 42dc2cec-6f40-11ea-bde9-1269e7c5a22d
                  line_items:
                    - id: 06929667-cc44-4bbb-b226-6758285d7033
                      quantity: 2
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receipt'
              example:
                receipt_number: 2-1009
                note:
                receipt_type: REFUND
                refund_for: 2-1005 
                order: O-15984978
                created_at: '2020-06-23T08:35:47.047Z'
                updated_at: '2020-06-23T08:35:47.047Z'
                source: My app
                receipt_date: '2020-06-23T08:34:35.025Z'
                cancelled_at:
                total_money: 17.52
                total_tax: 0.92
                points_earned: 0.00
                points_deducted: 1.75
                points_balance: 332.32
                customer_id: c71758a2-79bf-11ea-bde9-1269e7c5a22d
                total_discount: 7.40
                employee_id: null
                store_id: 42dc2cec-6f40-11ea-bde9-1269e7c5a22d
                pos_device_id: null
                dining_option: Dine in
                total_discounts:
                - id: 82185d34-97a9-4137-8e1b-e0d1f07a7cd7
                  type: FIXED_PERCENT
                  name: Percent discount
                  percentage: 10
                  money_amount: 2.40
                - id: 77d2bf40-7b12-11ea-bc55-0242ac130003
                  type: DISCOUNT_BY_POINTS
                  name: Discount by points
                  money_amount: 5.00
                total_taxes:
                - id: a94d8606-7268-11ea-bde9-1269e7c5a22d
                  type: ADDED
                  name: Added
                  rate: 5.545
                  money_amount: 0.92
                tip: 0.00
                surcharge: 0.00
                line_items:
                - id: 365972a1-7268-11ea-bde9-1269e7c5a22d
                  item_id: d5fe0da6-44b3-4633-9915-e9dc5118cbfc
                  variant_id: 06929667-cc44-4bbb-b226-6758285d7033
                  item_name: Ice cream
                  variant_name: 
                  sku: '10010'
                  quantity: 2
                  price: 10.00
                  gross_total_money: 24.00
                  total_money: 17.52
                  cost: 5.00
                  cost_total: 10.00
                  line_note: Note for the item
                  line_taxes:
                  - money_amount: 0.92
                    id: a94d8606-7268-11ea-bde9-1269e7c5a22d
                    type: ADDED
                    name: Added
                    rate: 5.545
                  total_discount: 7.40
                  line_discounts:
                  - id: 82185d34-97a9-4137-8e1b-e0d1f07a7cd7
                    type: FIXED_PERCENT
                    name: Percent discount
                    value: 10
                    money_amount: 2.40
                  - id: 77d2bf40-7b12-11ea-bc55-0242ac130003
                    type: DISCOUNT_BY_POINTS
                    name: Discount by points
                    value: 
                    money_amount: 5.00
                  line_modifiers:
                  - id: 832a8516-71bf-4515-b742-e868898a1aba
                    modifier_option_id: 89e741df-4767-41b1-ad40-d9245c01a51d
                    name: Toppings
                    option: Cherry
                    price: 2.00
                    money_amount: 4.00
                payments:
                - payment_type_id: 42dd2a55-6f40-11ea-bde9-1269e7c5a22d
                  name: Cash
                  type: CASH
                  money_amount: 17.52
                  paid_at: '2020-06-23T08:35:47.047Z'
                  payment_details: 



  /shifts/{shift_id}:
    get:
      tags:
        - Shifts
      summary: Get a single shift
      parameters:
        - name: shift_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shift'
                
  /shifts:
    get:
      tags:
        - Shifts
      summary: Get a list of shifts
      description: The list of shifts is sorted by created_at property in descending order.  The most recent shifts appear first
      parameters:
        - name: store_ids
          in: query
          schema:
            type: string
          description:  A comma-separated list of store ids to filter shifts
        - name: created_at_min
          in: query
          description: >
            Show shifts opened after date (ISO 8601 format, e.g. 2020-03-30T08:05:10.020Z)
          schema:
            type: string
            format: date-time
        - name: created_at_max
          in: query
          description: >
            Show shifts opened before date (ISO 8601 format, e.g. 2020-03-30T08:05:10.020Z)
          schema:
            type: string
            format: date-time
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  shifts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Shift'
                  cursor:
                    type: string


  /stores/{store_id}:
    parameters:
        - name: store_id
          in: path
          required: true
          schema:
            type: string
    get:
      tags:
        - Stores
      summary: Get a single store
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'

  /stores:
    get:
      tags:
        - Stores
      summary: Get a list of stores
      description: The list of stores is sorted by created_at property in descending order.  The most recent stores appear first
      parameters:
        - name: store_ids
          in: query
          description: Return only store specified by a comma-separated list of IDs
          schema:
            type: string
        - $ref: '#/components/parameters/created_at_min'
        - $ref: '#/components/parameters/created_at_max'
        - $ref: '#/components/parameters/updated_at_min'
        - $ref: '#/components/parameters/updated_at_max'
        - $ref: '#/components/parameters/show_deleted'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  stores:
                    type: array
                    items:
                      $ref: '#/components/schemas/Store'


  /taxes/{tax_id}:
    parameters:
        - name: tax_id
          in: path
          required: true
          schema:
            type: string

    get:
      tags:
        - Taxes
      summary: Get a single tax
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tax'

    delete:
      tags:
        - Taxes
      summary: Delete a single resource
      responses:
        '200':
          description: successful operation
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResource"


  /taxes:
    get:
      tags:
        - Taxes
      summary: Get a list of taxes
      description: The list of taxes is sorted by created_at property in descending order.  The most recent taxes appear first
      parameters:
        - name: tax_ids
          in: query
          description: Return only taxes specified by a comma-separated list of IDs
          schema:
            type: string
        - $ref: '#/components/parameters/created_at_min'
        - $ref: '#/components/parameters/created_at_max'
        - $ref: '#/components/parameters/updated_at_min'
        - $ref: '#/components/parameters/updated_at_max'
        - $ref: '#/components/parameters/show_deleted'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  taxes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tax'

    post:
      tags:
        - Taxes
      summary: Create or update a single tax
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tax'
      requestBody:
        required: true
        description: The tax object
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/Tax'
              required:
                - name
                - type
                - rate


  /variants/{variant_id}:
    parameters:
      - name: variant_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - Variants
      summary: Get a single item variant
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GETVariant"

    delete:
      tags:
        - Variants
      summary: Delete a single resource
      responses:
        '200':
          description: successful operation
          content: 
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResource"

  /variants:
    get:
      summary: Get a list of item variants
      description: The list of variants is sorted by created_at property in descending order.  The most recent variants appear first
      tags:
        - Variants
      parameters:
        - name: variants_ids
          in: query
          description: Return only variants specified by a comma-separated list of IDs
          schema:
            type: string
        - name: items_ids
          in: query
          description: Return only variants attached to specified item ids
          schema:
            type: string
        - name: sku
          in: query
          description: Filter variants by sku
          schema:
            type: string
        - $ref: '#/components/parameters/created_at_min'
        - $ref: '#/components/parameters/created_at_max'
        - $ref: '#/components/parameters/updated_at_min'
        - $ref: '#/components/parameters/updated_at_max'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/show_deleted'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  variants:
                    type: array
                    items:
                      $ref: '#/components/schemas/GETVariant'
                  cursor:
                    type: string

    post:
      summary: Create or update a single variant
      tags:
        - Variants
      requestBody:
        required: true
        description: The variant object
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/POSTVariant'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETVariant'


components:

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer


  parameters:
    created_at_min:
      name: created_at_min
      in: query
      description: >
        Show resources created after date (ISO 8601 format, e.g: 2020-03-30T18:30:00.000Z)
      schema:
        type: string
        format: date-time
    created_at_max:
      name: created_at_max
      in: query
      description: > 
        Show resources created before date (ISO 8601 format, e.g: 2020-03-30T18:30:00.000Z)
      schema:
        type: string
        format: date-time
    updated_at_min:
      name: updated_at_min
      in: query
      description: >
        Show resources updated after date (ISO 8601 format, e.g: 2020-03-30T18:30:00.000Z)
      schema:
        type: string
    updated_at_max:
      name: updated_at_max
      in: query
      description: >
        Show resources updated before date (ISO 8601 format, e.g: 2020-03-30T18:30:00.000Z)
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: Used for pagination
      schema:
        type: integer
        minimum: 1
        maximum: 250
        default: 50
    cursor:
      name: cursor
      in: query
      description: Used for pagination
      schema:
        type: string
    show_deleted:
      name: show_deleted
      in: query
      description: Show deleted modifiers and modifier options
      schema:
        type: boolean
        default: false
        
        
        
  schemas:

    Webhook:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The webhook id. Including this id in POST request will cause an update of existing webhook
        merchant_id:
          type: "string"
          format: uuid
          description: The id of the merchant which the webhook request originates from
          readOnly: true
        url: 
          type: string
          description: URI where the webhook should send the POST request when the event occurs
        type:
          type: string
          enum:
          - inventory_levels.update
          - items.update
          - customers.update
          - receipts.update
          - shifts.create
        status:
          type: string
          enum:
            - ENABLED
            - DISABLED
          description: The current status of webhook
        created_at:
          type: string
          format: date-time
          description: The time when of the webhook was created
          readOnly: true
        updated_at:
          type: string
          format: date-time
          description: The time when of the webhook was updated
          readOnly: true
      

    DeleteResource:
      type: object
      properties:
        deleted_object_ids:
          type: array
          description: The list of deleted object ids
          items:
            type: string

    CreatedAt:
      type: object
      properties:
        created_at:
          readOnly: true
          type: string
          format: date-time
          example: 2020-03-25T19:55:23.077Z
          description: The time when this resource was created (ISO 8601 format, e.g. 2020-03-25T19:55:23.077Z)
    
    UpdatedAt:
      type: object
      properties:
        updated_at:
          type: string
          readOnly: true
          format: date-time
          example: 2020-03-30T08:05:10.020Z
          description: The time when this resource was updated (ISO 8601 format, e.g. 2020-03-30T08:05:10.020Z)

          
    DeletedAt:
      type: object
      properties:
        deleted_at:
          type: string
          readOnly: true
          format: date-time
          example: 2020-04-02T23:45:20.050Z
          description: The time when this resource was deleted (ISO 8601 format, e.g. 2020-04-02T23:45:20.050Z)

    CustomerPermanentDeletionAt:
      type: object
      properties:
        permanent_deletion_at:
          type: string
          readOnly: true
          format: date-time
          example: 2020-04-03T23:45:20.050Z
          description: The time when the customer data will be permanently deleted (usually 24 hours after soft deletion)             
          

    MerchantProfile:
      type: object
      properties:
        id: 
          type: string
          format: uuid
          description: The merchant id
        business_name: 
          type: string
          description: The merchant business name
        email:
          type: string
          description: The merchant email
        country:
          type: string
          description: The country code associated with the merchant account (ISO 3166-1-alpha-2 format)
          example: "US"
        currency:
         type: object
         properties:
           code:
              type: string
              description: The currency code associated with the merchant account (ISO 4217 format) 
              example: "USD"
           decimal_places:
            type: integer
            description: The number of decimal places for the currency
            example: 2            
        created_at:
          type: string
          format: date-time
          description: The date and time when the merchant account was created
    
    RefundReceipt:
      type: object
      properties:
        receipt_date: 
          type: string
          format: date-time
          description: By default, it matches the created_at value (time when receipt was created on the Loyverse server). You can set receipt_date to the value that is equal to the date and time in the past when the refund was created in another system.
        source:
          type: string
          description: The name of the the source this receipt comes from. By default it is the name of the application that created the receipt. 
        employee_id:
          type: string
          description: The employee id associated with the receipt
        store_id:
          type: string
          description: The store id associated with the refund receipt. By default, it matches the store id of the sales receipt.
        line_items:
          type: array
          description: The line items included in the refund
          items:
            type: object
            properties:
              id:
                type: string
                description: The line item id from the sales receipt that you want to refund
              quantity:
                type: number
                description: >-
                  The number of items to be refunded
            required:
              - quantity
              - id
      required:
        - line_items
    
    POSTInventoryChanges:
      type: object
      properties:
        inventory_levels:
          type: array
          items:
            $ref: '#/components/schemas/POSTInventoryChange'
        
    POSTInventoryChange:
      type: object
      properties:
        variant_id:
          type: string
          description: The variant id for inventory level update
        store_id:
          type: string
          description: The store id for inventory level update
        stock_after:
          description: New stock value of the item variant
          type: number
      required: 
        - variant_id
        - store_id
        - stock_after

    Pos_device:
      allOf:
        - type: object
          properties:
            id:
              type: string
              format: UUID
              description: The pos device id. If included in the POST request it will cause an update instead of a creating a new object.
            name:
              type: string
            store_id:
              type: string
              description: The store id this device is connected to
            activated:
              type: boolean
              readOnly: true
              description: Shows the status of the POS device. If true, this device is connected to the physical device.
        - $ref: '#/components/schemas/DeletedAt'


    Shift:
      type: object
      properties:
        id:
          type: string
          format: UUID
        store_id:
          type: string
          description: The store id associated with the shift
        pos_device_id:
          type: string
          description: The pos device id associated with the shift
        opened_at:
          type: string
          format: date-time
          description: The time when the shift was opened
        closed_at:
          type: string
          format: date-time
          description: The time when the shift was closed
        opened_by_employee:
          type: string
          format: UUID
          description: The employee id who opened the shift
        closed_by_employee:
          type: string
          format: UUID
          description: The employee id who closed the shift
        starting_cash:
          type: number
          description: The initial money amount at the start of the shift
        cash_payments:
          type: number
          description: The total money amount of cash payments for the shift
        cash_refunds:
          type: number
          description: The total money amount of cash refunds for the shift
        paid_in:
          type: number
          description: The money amount added to the cash drawer.
        paid_out:
          type: number
          description: The money amount removed from the cash drawer. The value is always positive.
        expected_cash:
          type: number
          description: The expected money amount at the end of the shift
        actual_cash:
          type: number
          description: The actual money amount at the end of the shift
        gross_sales:
          type: number
          description: The gross money amount for the shift. It calculates as sum of all payments before discounts but after taxes with type INCLUDED.
        refunds:
          type: number
          description: The total money amount of refunds for the shift
        discounts: 
          type: number
          description: The total money amount of discounts for the shift. The value is always positive.
        net_sales:
          type: number
          description: The net money amount for the shift. It calculates as gross sales minus discounts and refunds
        tip:
          type: number
          description: The total money amount of tips for the shift. Tips are available only for some payment types.
        surcharge:
          type: number
          description: The total money amount of surcharge for the shift. Surcharge is available only for some payment types.
        taxes:
          type: array
          description: The list of taxes and it's totals for the shift
          items:
            type: object
            properties:
              tax_id: 
                type: string
              money_amount:
                type: number
                description: The total money amount for the tax in the shift
        payments:
          description: The list of total money amounts for every payment type in the shift
          type: array
          items:
            type: object
            properties:
              payment_type_id:
                type: string
              money_amount: 
                type: number
                description: The total money amount for the payment type
        cash_movements: 
          description: The list of shift cash movements
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - PAY_IN
                - PAY_OUT
                description: The type of cash movement 
              money_amount:
                type: number
                description: The money amount. The value is always positive.
              comment:
                description: The description of the cash movement
                type: string
              employee_id:
                description: The employee id who made the cash movement
                type: string
              created_at:
                type: string
                format: date-time
                description: The time when this cash movement was created (ISO 8601 format, e.g. 2020-03-25T19:55:23.077Z)


    Store:
      allOf:
        - type: object
          properties:
            id:
              type: string
              readOnly: true
            name:
              type: string
              maxLength: 40
            address:
              type: string
              maxLength: 255
            city: 
              type: string
              maxLength: 64
            state:
              type: string
              maxLength: 64
            postal_code:
              type: string
              maxLength: 20
            country:
              type: string
              description: Country format (ISO alpha-2)
            phone_number:
              type: string
              maxLength: 15
            description:
              type: string
              maxLength: 128

        - $ref: '#/components/schemas/CreatedAt'
        - $ref: '#/components/schemas/UpdatedAt'
        - $ref: '#/components/schemas/DeletedAt'

    Employee:
      allOf:
        - type: object
          properties:
            id:
              type: string
              format: UUID
            name:
              type: string
              minLength: 1
              maxLength: 64
            email:
              type: string
              minLength: 1
              maxLength: 100
            phone_number:
              type: string
[...]
